/******* Main Page *******/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { /* Main Page Background */
    background-color: #d9dcd6; 
}




/**** Nav Bar Code *****/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c; /* Nav Bar Background Color */
    color: #ffffff; /* "Hori n" Logo Color*/
}


/**** Logo Font Size ****/
.header h1 { 
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6; /* "seo" Logo Color */
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/******* Main Page Background Color ******/
a {
    color: #ffffff; 
    text-decoration: none;
}

p {
    font-size: 16px;
}


/****** Banner Img Source ******/
.hero { 
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/***** Section 1 *****/
.search-engine-optimization h2 { /* Title */
    margin-bottom: 20px;
    font-size: 36px;
}

.search-engine-optimization img { /* Thumbnail*/
    max-height: 200px;
}

.search-engine-optimization { /* Text & Box ( Color & Position ) */ 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;/*Box Background Color*/
    color: #ffffff; /* Text Color */
}


/***** Section 2  *****/
.online-reputation-management h2 { /* Title */
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management img { /* Thumbnail*/
    max-height: 200px;
}

.online-reputation-management { /* Text & Box ( Color & Position ) */ 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb; 
    color: #ffffff; 
}


/***** Section 3 *****/
.social-media-marketing h2 { /* Title */
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing img { /* Thumbnail*/
    max-height: 200px;
}

.social-media-marketing { /* Text & Box ( Color & Position ) */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb; 
    color: #ffffff; 
}




/******** Side Bar Background, Fonts & Position ********/
.benefits { 
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd; /*Side bar box background color */
}

/********* Side bar - Section 1**********/
.benefit-lead h3 { /*Title Position*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img { /*IMG*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-lead {/*Text Color*/
    margin-bottom: 32px;
    color: #ffffff; 
}



/*********Side bar - Section 2**********/
.benefit-brand h3 { /*Title Position*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {/*IMG*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand {/*Text Color*/
    margin-bottom: 32px;
    color: #ffffff; 
}


/********* Side bar - Section 3 **********/
.benefit-cost h3 {/*Title Position*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {/*Thumbnail*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost {/*Text Color*/
    margin-bottom: 32px;
    color: #ffffff; 
}


/****** Footer ******/
.footer h2 {/* Font Size */
    font-size: 20px;
}

.footer { /* Text Position */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


